<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
بخش‌بندی مشتریان مرکز خرید
   
</font>
</h1>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مقدمه و صورت مسئله
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    فرض کنید صاحب یک پاساژ تجاری چندین طبقه در دوبی هستید! وقتی مشتریان زیادی از سراسر دنیا برای خرید به پاساژ شما مراجعه می‌کنند، آیا به این فکر نخواهید کرد که 
مشتریان خود را بیشتر بشناسید تا خدمات بهتری به آنان عرضه و سود بیشتری کسب کنید ؟
    <br>
یکی از راه‌هایی که برای خدمات بهتر به مشتریان وجود دارد، آن است که با تحلیل رفتار و مشخصات آن‌ها، دسته‌هایی از مشتریان تشکیل دهید و تصمیم‌های منحصربه‌فردی برای هر دسته اتخاذ کنید. به عنوان مثال به دسته‌ای از مشتریان که از محصولات شما رضایت کمتری دارند، تخفیف‌های ویژه دهید و به نحوی روابط خود را با آنان مدیریت کنید که احتمال ریزش آنان کم شود و حتی به مشتریان وفادار و طلایی شما تبدیل شوند!
    <br>
    در این تمرین قصد داریم با تحلیل اطلاعات مشتریان یک مرکز خرید، آن‌ها را خوشه‌بندی کنیم.
</font>
</p>

In [2]:
import numpy as np
import pandas as pd 
from matplotlib import pyplot as plt

In [3]:
df = pd.read_csv('../data/mall_customers.csv')
df

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [17]:

import numpy as np
from sklearn.preprocessing import StandardScaler

class Preprocessor : 
    def __init__ (self, df):
        self.df = df.copy()
        
    def handle_missing_values (self) :
        self.df.fillna(0, inplace=True)

    def select_features(self):
        self.df = self.df.iloc[:,2:]

    def standard_scaler(self):
        s = StandardScaler()
        self.df = s.fit_transform(self.df)
      
    def transform (self) : 
        self.handle_missing_values()
        self.select_features()
        self.standard_scaler()
        return self.df

In [18]:
%%writefile preprocessor.py

import numpy as np
from sklearn.preprocessing import StandardScaler

class Preprocessor : 
    def __init__ (self, df):
        self.df = df.copy()
        
    def handle_missing_values (self) :
        self.df.fillna(0, inplace=True)

    def select_features(self):
        self.df = self.df.iloc[:,2:]

    def standard_scaler(self):
        s = StandardScaler()
        self.df = s.fit_transform(self.df)
      
    def transform (self) : 
        self.handle_missing_values()
        self.select_features()
        self.standard_scaler()
        return self.df

Overwriting preprocessor.py

In [ ]:
# modeling

from sklearn.cluster import KMeans

p = Preprocessor(df)
X = p.transform()

cost = []

# for i in range(2, 15):
#     km = KMeans(n_clusters=i, init="k-means++", random_state=0)
#     km.fit(X)
#     cost.append(km.inertia_)

plt.plot(range(2,15),cost)
plt.show()

In [20]:
kmeans_cluster = KMeans(n_clusters= 6, init='k-means++', random_state=0)
model = kmeans_cluster.fit(X)

In [21]:
# evaluate model
from sklearn.metrics import silhouette_score

In [22]:
# predict test samples
submission = pd.DataFrame(model.labels_, columns=["segment"])
submission.to_csv("submission.csv")

In [26]:
from preprocessor import *
from sklearn.metrics import silhouette_score
import pandas as pd 

sil_score = silhouette_score(Preprocessor(pd.read_csv('../data/mall_customers.csv')).transform(),pd.read_csv('submission.csv').segment)
print( 100 * (sil_score + 1 ) / 2 )

72.61721973862026